In [0]:
from pyspark.sql.types import *
from pyspark.sql.functions import sum,col
data = [
 [1, "Vikas", "Ahlawat", 600000.0, "2013-02-15 11:16:28.290", "IT", "Male"],
 [2, "nikita", "Jain", 530000.0, "2014-01-09 17:31:07.793", "HR", "Female"],
 [3, "Ashish", "Kumar", 1000000.0, "2014-01-09 10:05:07.793", "IT", "Male"],
 [4, "Nikhil", "Sharma", 480000.0, "2014-01-09 09:00:07.793", "HR", "Male"],
 [5, "anish", "kadian", 500000.0, "2014-01-09 09:31:07.793", "Payroll", "Male"],
]

schema = StructType([StructField("EmployeeID", StringType(),True),
                     StructField("First_Name",StringType(),True),
                     StructField("Last_Name",StringType(),True),
                     StructField("Salary",DoubleType(),True),
                     StructField("Joining_Date",StringType(),True),
                     StructField("Dept",StringType(),True),
                     StructField("Gender",StringType(),True)
                    ])
 

df = spark.createDataFrame(data, schema)
df.display()


# Your mission, should you choose to accept it, is to showcase your PYSPARK prowess with the following tasks:
 
# 1️⃣ Write the query to get the department and department wise
#  total(sum) salary from "EmployeeDetail" table.
# Write a pyspark code for combine FirstName and LastName and display it as "Name" (also include white space between first name & last name)
# 2️⃣ Select employee detail whose name is "Vikas"
# 3️⃣ Get all employee detail from EmployeeDetail table whose "FirstName" start with letter 'a'.
# 1️⃣ Select first name from "EmployeeDetail" table prifixed with "Hello "
# 2️⃣ Get employee details from "EmployeeDetail" table whose Salary greater than 600000
# 3️⃣ Get employee details from "EmployeeDetail" table whose Salary less than 700000
# 4️⃣Get employee details from "EmployeeDetail" table whose Salary between 500000 than 600000
# 5️⃣Select second highest salary from "EmployeeDetail" table
# 1️⃣ Select all employee detail with First name not in "Vikas","Ashish", and "Nikhil".
# 2️⃣ Select first name from "EmployeeDetail" df after removing white spaces from right side.
# 3️⃣ Select first name from "EmployeeDetail" table after removing white spaces from left side.
# 4️⃣ Display first name and Gender as M/F.(if male then M, if Female then F).

In [0]:
df_1 = df.groupBy("Dept").agg(sum("Salary").alias("Total_Sal")).orderBy(col("Dept").desc())
df_1.display()

In [0]:
# 2️⃣ Select employee detail whose name is "Vikas"
df_vikas=df.filter(df.First_Name == "Vikas")
df_vikas.display()
#should i write df everytime in filt3er and firstname

In [0]:
# 3️⃣ Get all employee detail from EmployeeDetail table whose "FirstName" start with letter 'a'.
df=df.filter(df.First_Name.startswith("a"))
df.display()

In [0]:
#Select first name from "EmployeeDetail" table prifixed with "Hello "
from pyspark.sql.functions import concat, lit
df_prefix=df.withColumn("Hel_Col",concat(lit("Hello "),df.First_Name))
df_prefix.display()

#

In [0]:
# 2️⃣ Get employee details from "EmployeeDetail" table whose Salary greater than 600000
df_sal=df.filter(df.Salary>600000)
df_sal.display()

In [0]:
# 4️⃣Get employee details from "EmployeeDetail" table whose Salary between 500000 than 600000
df_salbtw=df.filter(df.Salary.between(500000,600000))
df_salbtw.display()
#

In [0]:
# 5️⃣Select second highest salary from "EmployeeDetail" table
df_2nd=df.orderBy(df.Salary.desc()).limit(2)
df_2nd.display

In [0]:
# 5️⃣Select second highest salary from "EmployeeDetail" table
df_2=df.orderBy(df.Salary.desc()).limit(2)
df_2.display()

In [0]:
# 1️⃣ Select all employee detail with First name not in "Vikas","Ashish", and "Nikhil".
df_fn=df.filter(~df.First_Name.isin("Vikas","Ashish","Nikhil"))
df_fn.display()

In [0]:
# 2️⃣ Select first name from "EmployeeDetail" df after removing white spaces from right side.
from pyspark.sql.functions import rtrim,ltrim

df_rw=df.withColumn("First_Name",rtrim(df['First_Name']))
df_rw.display()
# 3️⃣ Select first name from "

In [0]:
# 3️⃣ Select first name from "EmployeeDetail" table after removing white spaces from left side.
df_rl=df.withColumn("First_Name",ltrim(df['First_Name']))
df_rl.display()

In [0]:
# 4️⃣ Display first name and Gender as M/F.(if male then M, if Female then F).
from pyspark.sql.functions import when
dfmf=df.withColumn("Gendermf",when(df.Gender=="Male","M").otherwise("F"))

dfmf.display()

In [0]:
1. Write a python code to accept a string and count the number of vowels and consonants.
2. Write a program to find the number of occurrences of elements from list1 to list2.
3. Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd.
4.Write a python function that accepts a string and calculates the number of upper case letters and lower case letters.
5. Write a program that accepts input in this form: s3t1z5. Here any character is followed by a number. The program should return a string where the character is repeated for the corresponding number of times.
6. Take a sentence as input and print only the words that start with “s” in the sentence.
7. From a dictionary, print only the items with an odd value of less than 45.
8. Write a program to count pairs of elements of a list with a given sum
9. Write a python program to find the common characters from two input strings.
10. Swap two numbers by using one line of code.
11. Write a program to take two lists and check if the product of even position elements from the first list is completely divisible by the sum of odd position elements from the second list.
12. Write a function that will take a string and a character as arguments and check if the character is present in the string then it will be replaced with a “*”.
13. Write a program to delete vowels from a string.
14. Write a program to count the highest occurring/maximum frequency character in a string.
15. Write a program to find the second-highest number in a list.
16. Write a program to take a list as input and print another list with only the unique values of the input list.
17. Implement the unique_names method. When passed two lists of names, it will return a list containing the names that appear in either or both lists. The returned list should have no duplicates.
18. Implement a function that accepts a dictionary containing the file owner name as the value for each file name as key and returns a dictionary containing a list of file names as value for each owner name as the key, in any order.
19. Implement a function to take a list of numbers as an argument and return a list that will have a 0 for every corresponding number of the input list if the number is not perfect, otherwise 1.
20. Implement a function that accepts 2 lists. One with the values and the other with corresponding integer values and returns a list with the elements of list1 arranged in increasing order of corresponding list2 elements.

In [0]:
x=input('hello world')
vowels=['aeiou']
v=0
c=0
for i in x:
    if i.isalpha():
        if i in vowels:
            v+=1
        else:
            c+=1
print(v,c)

In [0]:
#Write a program to find the number of occurrences of elements from list1 to list2.
list1=[1,2,3,4,8,9,10]
list2=[1,2,3,4,5,6,6,6,7,8,9,10]
result={}
for i in list1:
    count=list2.count(i)
    result[i]=count
print(result)

In [0]:
# Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd.
def lesser_of_two(a,b):
    if a%2==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b) 
lesser_of_two(4,6)

In [0]:
def count_upper_lower(s: str):
    upper = sum(1 for i in s if i.isupper())
    lower = sum(1 for i in s if i.islower())
    return upper, lower
print(count_upper_lower("AbC uudeF!"))

In [0]:
def count_upper_lower(s):
    upper_count = 0
    lower_count = 0

    for char in s:
        if char.isupper():         
            upper_count += 1
        elif char.islower():        
            lower_count += 1

    return upper_count, lower_count

In [0]:
# 8) Count pairs with a given sum
def count_pairs_with_sum(nums, target):
    seen = Counter()
    count = 0
    for x in nums:
        
    return count
    # print(count_pairs_with_sum([1,5,7,-1,5], 6))  # 3

In [0]:
# L=[11,12,13,14,15,16,17,18,19,20]
# # L.append(21)
# L.insert(7,15)
# print(L)
# L.remove(15)
# print(L)

L=[1,2,3,3,3,4,4]
print(list(set(L)))

s={1,2,3,3}
print(type(s), s)

t=(1,2,3,3)
print(type(t), t)